# OSX
.DS_Store
.AppleDouble
.LSOverride

# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__
*$py.class

# Pycharm
.idea/

# Installer logs
pip-log.txt

# Docs
docs/build

# Virtualenv
venv

# Vagrant
.vagrant/

# Pytest
.cache/

# Unit test / coverage reports
.coverage
htmlcov/

# Distribution / packaging
.env/

# Pypi
.pypirc
